app-source-menu {
}
.menu-item{
	cursor: pointer;
}
.menu-item > div{
	padding:0 10px;
	background-color: antiquewhite;
	margin-bottom:1px;
}
button.fa-angle-double-right{
	top:10px;
	position: absolute;
	left:0
}

.app-is-mobile button.fa-angle-double-right {
	top:10px;
}
.playback-nav-bar {
	width:30px;
	position:absolute;
	top:10px;
	right:0;
	bottom:0
}
.app-is-mobile .playback-nav-bar{
	width:40px;
}
.playback-nav{
	position: absolute;
	top:10px;
	left:40px;
	right:40px;
	bottom:10px;
	overflow: auto;
}