body {
	margin: 0;
}

.mat-toolbar, .mat-toolbar h1, .mat-toolbar h2, .mat-toolbar h3, .mat-toolbar h4, .mat-toolbar h5, .mat-toolbar h6 {
  font: 500 18px/32px Roboto,"Helvetica Neue",sans-serif;
  margin: 0;
}
.mat-sidenav {
	width: 100%;
	padding-top: 5px;
}

.mat-sidenav .mat-input-element {
	text-align: center;
}

.mat-toolbar-single-row, .mat-form-field {
	padding: 0 !important;
	height: 30px !important;
	font-size: 18px;
	line-height: 30px;
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
	padding-bottom: 0;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
	padding: 0;
	border: 0;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
	bottom: 0;
}

input.mat-input-element {
	margin-top: 0;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
	bottom: 4px;
}

.mat-toolbar .mat-input-element {
	text-align: center;
}

.mat-sidenav {
	background: #374594;;
	color: #fff;
}

.mat-sidenav .item > label {
	width: 160px;
}

.mat-sidenav app-commands .item {
	width: 100%;
	border-left: none;
	display: inline-flex;
}

.app-is-mobile #mat-select-0 {
	margin-right: 5px;
}

.mat-toolbar-single-row,
.mat-form-field,
.mat-sidenav {
	font-size: 18px;
	line-height: 30px;
	font-family: "Helvetica Neue", sans-serif;
	font-weight: 500;

}

.mat-sidenav {
	position: absolute;
	top: 64px !important;
	bottom: 0;
	z-index: 1;
}

.mat-toolbar-single-row {
	width: unset !important;
}

.mat-toolbar-row, .mat-toolbar-single-row {
	height: unset !important;
	padding: 0 !important;
}

.app-is-mobile .mat-sidenav {
	top: 91px !important;
	font-size: 24px;
}

.mat-drawer-container {
	position: unset !important;
}

.app-is-mobile .mat-toolbar {
	font: 500 24px/45px Roboto, "Helvetica Neue", sans-serif;
}

.mat-select-panel .mat-option {
	line-height: 40px !important;
	height: 40px !important;
}
.app-container .mat-icon-button {
	width: 30px;
	height: 30px;
	line-height: 30px;
	border: 1px solid;
}

.app-container .mat-icon-button .mat-icon, .mat-icon-button i {
	line-height: 24px;
}

.app-container .mat-icon {
	height: 26px;
	width: 26px;
}

.app-is-mobile.app-container .mat-icon-button, .app-is-mobile.app-container .mat-icon {
	width: 40px !important;
	height: 40px !important;
	line-height: 39px !important;
	font-size: 24px;
}

.app-is-mobile .mat-form-field {
	font-size: 24px;
	line-height: 40px;
}

.menu-item:hover, button:hover {
	background-color: lightsalmon;
}
app-commands label{
	margin-right:5px;
}
app-commands button {
	margin-left:5px !important;
}
.mat-sidenav .item{
	margin-bottom:5px;
}